<input id="curUser" type="hidden" value="@ViewBag.User">
<input id="curRoles" type="hidden" value="@ViewBag.Roles">

<ul class="nav navbar-nav navbar-right">
    <li id="loginInput" class="hide">
        <div style="display:inline-block; margin:8px 5px 5px 5px">
            <input id="Login" name="Login" type="text" class="form-control" style="width:350px">
        </div>
    </li>
    <li id="curUserName" class="hide">        
        <a href="@Url.Action("Profile", "Profile")" id="curUserNameLink">@if (!String.IsNullOrEmpty((string)ViewBag.User)) {@Html.Raw(((string)ViewBag.User).Substring(0, 7) + "..."); }</a>        
    </li>
    <li id="signInBtn" class="hide">
        <a href="#" onclick="login()">Sign in</a>
    </li>
    <li id="signOutBtn" class="hide">
        <a href="#" onclick="logout()">Sign out</a>
    </li>
</ul>




