@using System.Security.Principal

<input id="curUser" type="hidden" value="@ViewBag.User">

<ul class="nav navbar-nav navbar-right">
    <li id="loginInput" class="hide">
        <div style="display:inline-block; margin:8px 5px 5px 5px">
            <input id="Login" name="Login" type="text" class="form-control" style="width:350px">
        </div>
    </li>
    <li id="signInBtn" class="hide">
        <a href="#" onclick="login()">Sign in</a>
    </li>
    <li id="signOutBtn" class="hide">
        <a href="#" onclick="logout()">Sign out</a>
    </li>
</ul>




