@using CVProof.Utils;
@model CVProof.Web.Models.CertificateViewModel;
@{ Layout = "~/Views/Shared/_LayoutNoPadding.cshtml"; }

<div class="col-md-12" style="text-align:center;padding-top:15px;padding-left:0px;width:100%">    
    <div style="display:inline-block;border:2px solid black; background-color:#eeeeee; padding:10px; width:200px; height:200px;">
        <form id="verifyFileForm" asp-controller="Contract" asp-action="CertificateUpdate" method="post" enctype="multipart/form-data">
            @Html.HiddenFor(e => e.HeaderId)
            <div style="text-align:center;font-size:18px;">UPLOAD FILE</div>
            <div style="text-align:center;font-size:18px;">AUTHENTICITY CHECK</div>
            <div class="col-md-12" style="padding-left:0px;margin:10px;text-align:center;">
                <input type="file" multiple name="Files" id="Files" accept=".pdf" class="col-md-8">
                <button id="clear" class="btn btn-default btn-xs">
                    clear selection
                </button>
            </div>
            <div style="clear:both; margin-top:10px; text-align:center;">
                <input type="submit" id="verifyFileBtn" value="VERIFY" class="btn btn-default" data-autoupdateform="#verifyFileForm" style="background-color:#10AFFF;color:white;" />
            </div>
        </form>
    </div>
    @if (Model.NotFound)
    {
        <div style="clear:both;display:block;padding-top:50px">
            <img src="~/images/notfound.png" />
        </div>
    }    
</div>

@section Scripts {
    <script type="text/javascript" src="~/js/bootstrap-filestyle.min.js"></script>
    <script type="text/javascript">
        $('#Files').filestyle({
            btnClass: 'btn-default',
            text: "Choose file",
            placeholder: "No file"
        });

        $('#clear').click(function (e) {
            e.preventDefault();
            $('#Files').filestyle('clear');
        });
    </script>
}