@model CVProof.Web.Models.ValidateViewModel;

<h2 style="margin-top:20px">Validate data</h2>
<br />

<div class="container-fluid">
    <div class="col-md-5">
        <form id="validateFileForm" asp-controller="Contract" asp-action="SaveFile" method="post" enctype="multipart/form-data">
            <fieldset>
                <legend>Upload files</legend>
                <div class="input-group col-md-8" style="margin-bottom:20px">
                    <label class="control-label">Validator (optional):</label><input class="form-control" type="text" name="Validator" />
                </div>

                <div style="margin-bottom:6px;">
                    <label style="display:inline-block;">
                        @Html.RadioButtonFor(m => m.StoreFile, true)
                        Store a file and give me the link to a stored copy
                    </label>
                </div>
                <div style="margin-bottom:20px;">
                    <label style="display:inline-block;">
                        @Html.RadioButtonFor(m => m.StoreFile, false)
                        Do not store the file body, just calc the fingerprint
                    </label>
                </div>


                <div class="col-md-8" style="padding-left: 0px;margin-bottom:20px;">
                    <input type="file" name="Files" multiple  accept=".pdf" id="Files" class="col-md-8">
                    <button id="clear" class="btn btn-default btn-xs">
                        clear selection
                    </button>
                </div>
                <div style="clear:both;">
                <input type="button" id="validateFileBtn" value="Upload Files" class="btn btn-default" data-autoupdateform="#validateFileForm" />
                </div>

            </fieldset>
        </form>
    </div>

    <div class="col-md-5">
        @using (Html.BeginForm("SaveText", "Contract", FormMethod.Post, new { id = "validateTextForm" }))
        {
            <fieldset>
                <legend>Paste plain text</legend>
                <div class="input-group col-md-8" style="margin-bottom:20px">
                    <label class="control-label">Validator (optional):</label><input class="form-control" type="text" name="Validator" />
                </div>
                @Html.TextAreaFor(e => e.Text, new { @class = "form-control", @cols = 80, @rows = 10 })
                <br />
                <input type="button" id="validateTextBtn" value="Upload Text" class="btn btn-default" data-autoupdateform="#validateTextForm" />

            </fieldset>
        }
    </div>
</div>  
@section Scripts {
    <script type="text/javascript" src="~/js/bootstrap-filestyle.min.js"></script>
    <script type="text/javascript">

        var updateForm = function (btn, data) {
            btn.closest('form').get(0).reset();
            btn.stopPropagation();
            btn.preventDefault();
        };

        var ajaxTextUpdate = function (e) {
            e.preventDefault();
            var $input = $(this);
            var formId = $input.attr('data-autoupdateform');
            var $form = $(formId);

            $form.on('submit', null, { callback: updateForm, input: $input }, ajaxFormSubmit);
            $form.trigger('submit');
            $form.off('submit', null, ajaxFormSubmit);
        };

        var ajaxFileUpdate = function (e) {
            e.preventDefault();
            var $input = $(this);
            var formId = $input.attr('data-autoupdateform');
            var $form = $(formId);

            $form.on('submit', null, { callback: updateForm, input: $input }, ajaxFormSubmit);
            $form.trigger('submit');
            $form.off('submit', null, ajaxFormSubmit);

            $('#Files').filestyle('clear');
        };

        $('#validateFileBtn').click(ajaxFileUpdate);
        $('#validateTextBtn').click(ajaxTextUpdate);

        $('#Files').filestyle({
            btnClass: 'btn-default',
            text: "Choose file",            
            badge: true,
            placeholder: "No file" 
        });

        $('#clear').click(function (e) {
            e.preventDefault();
            $('#Files').filestyle('clear');
        });
    </script>
}