@model CVProof.Web.Models.ValidateViewModel;

<h2 style="margin-top:20px">Validate data</h2>
<br />

<div class="container-fluid">
    <form id="validateFileForm" name="validateFileForm" asp-controller="Contract" asp-action="SaveFile" method="post" enctype="multipart/form-data">
        <div class="col-md-5">
            <fieldset>
                <legend>Upload files</legend>
                <div class="input-group col-md-8" style="margin-bottom:20px">
                    <label class="control-label">Validator (optional):</label><input class="form-control" type="text" name="Validator" />
                </div>

                <div style="margin-bottom:6px;">
                    <label style="display:inline-block;">
                        @Html.RadioButtonFor(m => m.StoreFile, true)
                        Store a file and give me the link to a stored copy
                    </label>
                </div>
                <div style="margin-bottom:20px;">
                    <label style="display:inline-block;">
                        @Html.RadioButtonFor(m => m.StoreFile, false)
                        Do not store the file body, just calc the fingerprint
                    </label>
                </div>

            </fieldset>
        </div>
        <div class="col-md-5">
            <div class="col-md-8" style="padding-left: 0px;margin-bottom:40px;">
                <fieldset>
                    <legend>Data file</legend>
                </fieldset>
                <input type="file" name="Files" multiple accept=".pdf" id="Files" class="col-md-8">
                <button id="clearFiles" class="btn btn-default btn-xs">
                    clear selection
                </button>
            </div>
            <div class="col-md-8" style="padding-left: 0px;margin-bottom:20px;">
                <fieldset>
                    <legend>Attachment</legend>
                </fieldset>
                <input type="file" name="Attachment" multiple accept=".pdf" id="Attachment" class="col-md-8">
                <button id="clearAttachment" class="btn btn-default btn-xs">
                    clear selection
                </button>
            </div>
            <div class="col-md-8" style="clear:both;float:right;">
                <button id="validateFileBtn" class="btn btn-default" data-autoupdateform="#validateFileForm">Upload Files  </button>
            </div>
        </div>

    </form>
</div>  
@section Scripts {
    <script type="text/javascript" src="~/js/bootstrap-filestyle.min.js"></script>
    <script type="text/javascript">

        var updateForm = function (btn, data) {
            btn.closest('form').get(0).reset();
            $('#delSpinner').remove();
        };

        var ajaxFileUpdate = function (e) {
            $(this).append($("<i id='delSpinner' class='fa fa-spinner fa-spin'></i>")).button();

            e.preventDefault();
            var $input = $(this);
            var formId = $input.attr('data-autoupdateform');
            var $form = $(formId);

            $form.on('submit', null, { callback: updateForm, input: $input }, ajaxFormSubmit);
            $form.trigger('submit');
            $form.off('submit', null, ajaxFormSubmit);

            $('#Files').filestyle('clear');
            $('#Attachment').filestyle('clear');
        };

        $('#validateFileBtn').click(ajaxFileUpdate);        

        $('#Files').filestyle({
            btnClass: 'btn-default',
            text: "Choose file",            
            badge: true,
            placeholder: "No file" 
        });

        $('#Attachment').filestyle({
            btnClass: 'btn-default',
            text: "Choose file",
            badge: true,
            placeholder: "No file"
        });

        $('#clearFiles').click(function (e) {
            e.preventDefault();
            $('#Files').filestyle('clear');
        });

        $('#clearAttachment').click(function (e) {
            e.preventDefault();
            $('#clearAttachment').filestyle('clear');
        });

    </script>
}