@model CVProof.Web.Models.VerifyViewModel;

<h2 style="margin-top:20px">Verify data</h2>
<br />

<div class="container-fluid" style="display:flex">
    <div class="col col-md-5" id="verifyFileArea">
        <form id="verifyFileForm" asp-controller="Contract" asp-action="VerifyFile" method="post" enctype="multipart/form-data">
            <fieldset>
                <legend>Verify file</legend>

                <div class="col-md-8" style="padding-left: 0px;margin-bottom:20px;">
                    <input type="file" multiple name="Files" id="Files" accept=".pdf" class="col-md-8">
                    <button id="clear" class="btn btn-default btn-xs">
                        clear selection
                    </button>
                </div>
                <div style="clear:both;">
                    <input type="button" id="verifyFileBtn" value="Upload Files" class="btn btn-default" data-autoupdateform="#verifyFileForm" />
                </div>
            </fieldset>
        </form>
    </div>

    <div class="col col-md-5" id="verifyTextArea">
        @using (Html.BeginForm("VerifyText", "Contract", FormMethod.Post, new { id = "verifyTextForm" }))
        {
            <fieldset>
                <legend>Paste plain text</legend>
                @Html.TextAreaFor(e => e.Text, new { @class = "form-control", @cols = 80, @rows = 10 })
                <br />
                <input type="button" id="verifyTextBtn" value="Verify Text" class="btn btn-default" data-autoupdateform="#verifyTextForm" data-cvproof-url="@Url.Action("VerifyText", "Contract")" />
            </fieldset>
        }
    </div>
</div>
@section Scripts {
    <script type="text/javascript" src="~/js/bootstrap-filestyle.min.js"></script>
    <script type="text/javascript">

        var updateTextStatus = function (btn, data) {
            var textarea = $('#verifyTextArea');
            if (data) { textarea.addClass('make-green'); } else { textarea.addClass('make-red'); }
        };

        var updateFileStatus = function (btn, data) {
            var filearea = $('#verifyFileArea');
            if (data) { filearea.addClass('make-green'); } else { filearea.addClass('make-red'); }
        };

        var ajaxTextUpdate = function (e) {
            var textarea = $('#verifyTextArea');
            textarea.removeClass('make-red');
            textarea.removeClass('make-green');

            e.preventDefault();
            var $input = $(this);

            var formId = $input.attr('data-autoupdateform');
            var $form = $(formId);

            $form.on('submit', null, { callback: updateTextStatus, input: $input }, ajaxFormSubmit);
            $form.trigger('submit');
            $form.off('submit', null, ajaxFormSubmit);
        };

        var ajaxFileUpdate = function (e) {
            var filearea = $('#verifyFileArea');
            filearea.removeClass('make-red');
            filearea.removeClass('make-green');

            e.preventDefault();
            var $input = $(this);

            var formId = $input.attr('data-autoupdateform');
            var $form = $(formId);

            $form.on('submit', null, { callback: updateFileStatus, input: $input }, ajaxFormSubmit);
            $form.trigger('submit');
            $form.off('submit', null, ajaxFormSubmit);

            $('#Files').filestyle('clear');
        };

        $('#verifyFileBtn').click(ajaxFileUpdate);
        $('#verifyTextBtn').click(ajaxTextUpdate);

        $('#Files').filestyle({
            btnClass: 'btn-default',
            text: "Choose file",
            placeholder: "No file"
        });

        $('#clear').click(function (e) {
            e.preventDefault();
            $('#Files').filestyle('clear');
        });
    </script>
}